<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Status &middot; LabPages</title>
    <%= stylesheet_tag 'application' %>
    <%= javascript_tag 'jquery' %>
    <script>
        var gitlabUrl = '<%= @gitlab %>';
    </script>
</head>

<body>
    <div class="container-narrow">
        <h1>LabPages - Status</h1>

        <div class="alert" id="hook">
            <div class="clearfix">
                <h6 class="pull-left">LabPages Web Hook</h6>
                <p class="pull-right"><a class="btn btn-small btn-info">Log</a></p>
            </div>

            <p class="status"></p>

            <pre class="log"></pre>
        </div>

        <div class="alert" id="socket">
            <div class="clearfix">
                <h6 class="pull-left">LabPages WebSocket</h6>
                <p class="pull-right"><a class="btn btn-small btn-success btn-reconnect">Reconnect</a></p>
            </div>

            <p class="status"></p>
        </div>

        <hr/>
    </div>

    <%= javascript_tag 'application' %>
</body>
</html>
